{% extends 'layout.html' %}
{% block content %}
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1 style="color: #333333">Личный кабинет менеджера2</h1>
            <br>
            <h2>Преподаватели</h2>
		</div>
	</div>
    
    <div id="overviews" class="section wb">
        <div class="container">
            <button>Добавить</button>
            <button>Удалить</button>
            <button>Редактировать</button>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Никнейм</th>
                    <th scope="col">Активность</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Добавлен</th>
                  </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                <tr>
                  <td>{{teacher.id}}</td>
                  <td>{{teacher.last_name}}</td>
                  <td>{{teacher.first_name}}</td>
                  <td>{{teacher.username}}</td>
                  <td>{{teacher.is_active}}</td>
                  <td>{{teacher.email}}</td>
                  <td>{{teacher.date_joined}}</td>
                </tr>
                {% endfor %}
          
                </tbody>
              </table>
							
						
					</div>
                </div><!-- end col -->
			<hr class="hr3"> 
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="all-title-box">
		<div class="container text-center">
            <br>
            <br>
            <br>
            <br>
            <h2>Студенты</h2>
		</div>
	</div>
    
    <div id="overviews" class="section wb">
        <div class="container">
            <button>Добавить</button>
           
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Никнейм</th>
                    <th scope="col">Активность</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Добавлен</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for student in students %}
                <tr>
                  <td>{{student.id}}</td>
                  <td>{{student.last_name}}</td>
                  <td>{{student.first_name}}</td>
                  <td>{{student.username}}</td>
                  <td>{{student.is_active}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.date_joined}}</td>
                  <td>
                    <form method="post">
                        <a href="{% url 'manager:delete_student' student.id %}">Удалить</a>
                    </form>
                  </td>
                  <td>
                    <a>Редактировать</a>
                  </td>
                </tr>
                {% endfor %}
          
                </tbody>
              </table>
							
						
					</div>
                </div><!-- end col -->
			<hr class="hr3"> 
        </div><!-- end container -->
    </div><!-- end section -->


    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block content2 %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>

</body>
</html>
{% endblock %}