{% extends 'layout.html' %}
{% load sign_up %}

{% block content %}
    <div id="overviews" class="section wb">
        <h2 class="text-center">Преподаватели</h2>
        <div class="container">
            <a class="btn btn-success my-2" href="#" data-toggle="modal" data-target="#register">
                <span>
                    Добавить
                </span>
            </a>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Никнейм</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Добавлен</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.id }}</td>
                        <td>{{ teacher.last_name }}</td>
                        <td>{{ teacher.first_name }}</td>
                        <td>{{ teacher.username }}</td>
                        <td>
                             {% if teacher.is_active %}
                                Активен
                            {% else %}
                                Не активен
                            {% endif %}
                        </td>
                        <td>{{ teacher.email }}</td>
                        <td>{{ teacher.date_joined }}</td>

                        <td>
                            <a href="{% url 'manager:deactivate_user' teacher.id %}" class="btn btn-secondary">
                                {% if teacher.is_active %}
                                    Дезактивировать
                                {% else %}
                                    Активировать
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </div><!-- end col -->
    <hr class="hr3">



    <div class="container text-center">
        <h2>Студенты</h2>
    </div>


    <div class="section wb">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Никнейм</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Почта</th>
                    <th scope="col">Добавлен</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>{{ student.first_name }}</td>
                        <td>{{ student.username }}</td>
                        <td>
                            {% if student.is_active %}
                                Активен
                            {% else %}
                                Не активен
                            {% endif %}
                        </td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.date_joined }}</td>
                        <td>

                            <a class="btn btn-secondary" href="{% url 'manager:deactivate_user' student.id %}">
                                {% if student.is_active %}
                                    Дезактивировать
                                {% else %}
                                    Активировать
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </div><!-- end col -->
    <hr class="hr3">



    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block content2 %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>

    </body>

    </html>
{% endblock %}