{% extends 'layout.html' %}
{% block content %}
    <div class="all-title-box">
		<div class="container text-center">
			<h1>О нас</h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>О нас</h3>
                    <p class="lead"></p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>2018 Лучшая школа программистов</h4>
                        <h2>Центр поддержки</h2>
                        <p>Мы в Академии программистов ценим каждого нашего студента и хотим, чтобы ваше обучение у нас было не просто временным этапом, а началом успешной карьеры в IT-индустрии. Мы стремимся поддерживать наших выпускников и помогать им в поиске работы, профессиональном развитии и решении возникающих вопросов.</p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../../media/about_02.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../../media/about_03.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Каждый год открываем офис в новом городе</h2>
                        <p>.</p>

                        <p> Уже 30 отделений по всей стране!</p>

                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>Обеспечиваем студентов высококачественным образованием в области программирования и информационных технологий, создавая условия для профессионального и личностного роста. Мы стремимся вдохновлять и поддерживать наших студентов, помогая им раскрыть свой потенциал, освоить самые передовые технологии и готовиться к успешной карьере в сфере IT. Мы поощряем творческое мышление, самостоятельность, коллективное взаимодействие и стремимся к тому, чтобы каждый наш выпускник стал профессионалом, способным принести реальную пользу в мире цифровых возможностей.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>Мы верим, что каждый человек имеет потенциал стать успешным специалистом в сфере программирования и IT, и наша задача - развить этот потенциал через доступное и качественное образование. Мы стремимся создать обучающую среду, которая способствует развитию не только технических навыков, но и личностного потенциала студентов.

                            Мы видим себя как платформу, где студенты получают не только знания и навыки, но и опыт работы в команде, обмен идеями с экспертами отрасли и возможность применить свои знания на практике. Мы стремимся быть мостом между образованием и реальной IT-индустрией, обеспечивая нашим студентам глубокое понимание технологий и требований рынка труда.
                           </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>History</h3>
						<div class="tr-pa">H</div>
						<p>Наша история началась в 2005 году.

                            С самого начала мы поставили перед собой цель - предоставить студентам самое качественное образование, сочетая теорию с практикой и давая возможность каждому развиваться в сфере программирования. Мы строили нашу программу обучения, опираясь на передовые методики и технологии.
                            
                            
                            Сегодня Академия программистов - это не просто учебное заведение, это целый экосистема, где ценятся инновации, креативность и стремление к совершенству. Мы гордимся нашими выпускниками, которые достигают успехов в разных уголках мира и вносят свой вклад в развитие информационных технологий.
                            
                            Присоединяйтесь к нам и станьте частью истории Академии программистов - места, где рождаются будущие лидеры IT-индустрии!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('../../media/parallax_04.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h3>Отзывы</h3>
                <p>Мы ценим обратную связь </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_01.png" alt="" class="img-fluid">
                                <h4>Дмитрий Шмонов </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Вы лучшие!</h3>
                                <p class="lead">Я выбрал Академию программистов, потому что хотел получить качественное образование в сфере IT. И я не прогадал! Обучение здесь интересное, информативное и практически полезное. Я нашел здесь свою страсть к программированию и теперь уверенно могу сказать, что сделал правильный выбор. Спасибо, Академия, за вашу работу!</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_02.png" alt="" class="img-fluid">
                                <h4>Валентин Суходолец </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>Обучение пролетело так быстро...</h3>
                                <p class="lead">Поступив в Академию программистов, я был впечатлен профессионализмом преподавателей и интенсивностью обучения. Здесь я впервые понял, насколько важно понимать не только теорию, но и уметь применять знания на практике. Благодаря этому подходу, я смог быстро адаптироваться в индустрии и начать успешную карьеру разработчика программного обеспечения.</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_03.png" alt="" class="img-fluid ">
                                <h4>Ванесса Паради </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Великолепная команда профессионалов!</h3>
                                <p class="lead">Академия программистов - это именно то место, где можно получить все необходимые знания и навыки для успешной карьеры в IT. Программа обучения уникальна, а преподаватели действительно профессионалы своего дела. </p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block content2 %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>

</body>
</html>
{% endblock %}