{% extends 'layout.html' %}
{% block content %}
	<div class="all-title-box">
		<div class="container text-center">
			<h1 style="color: #333333;">{{ title }}</h1>
		</div>
	</div>
	
    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Нужна помощь? Мы всегда онлайн!</h3>
                <p class="lead">Напишите ваш вопрос или пожелание. <br>В самое ближайшее время с вами свяжутся наши специалисты</p>
            </div><!-- end title -->

            <div class="row">
                
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactform" class="" action="{% url 'student:leave_question' %}" name="contactform" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="row row-fluid">
                                
                              
                                <div class="text-center pd">
                                    <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                			
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block content2 %}
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="../../static/js/all.js"></script>
<script src="https://yandex.ru/maps/213/moscow/?ll=37.724788%2C55.740057&z=11.17"></script>
<!-- Mapsed JavaScript -->
<script src="../../static/js/mapsed.js"></script>
<script src="../../static/js/01-custom-places-example.js"></script>
<!-- ALL PLUGINS -->
<script src="../../static/js/custom.js"></script>


{% endblock %}