{% extends 'layout.html' %}
{% block content %}
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1 style="color: #333333">{{ title }}</h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Бэкенд-разработчик занимается созданием серверной части веб-приложений, которая отвечает за обработку данных, бизнес-логику и взаимодействие с базами данных. </p>
                </div>
				<br>
				<br>
				<h2>
					Основные технологии
				</h2>
            </div><!-- end title -->
			
            <hr class="invis"> 

            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<!-- <img src="../../media/blog_1.jpg" alt="" class="img-fluid"> -->
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Python</a></h2>
							</div>
							<div class="course-desc">
								<p>Язык программирования, широко используемый для разработки бэкенд части веб-приложений. </p>
							</div>
							<div class="course-rating">
								4.9
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 3 Мес</li>
								
							</ul>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<!-- <img src="../../media/blog_2.jpg" alt="" class="img-fluid"> -->
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">JavaScript</a></h2>
							</div>
							<div class="blog-desc">
								<p>Мощный язык программирования, который широко используется для создания динамических и интерактивных веб-приложений. </p>
							</div>
							<div class="course-rating">
								4.6
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 1.5 Мес</li>
								
							</ul>
						</div>
					</div>
                </div><!-- end col -->	
            </div><!-- end row -->
			
			
			
			
			<hr class="hr3"> 
			
            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<!-- <img src="../../media/blog_5.jpg" alt="" class="img-fluid"> -->
						</div>		
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Django</a></h2>
							</div>
							<div class="course-desc">
								<p>Популярный Python фреймворк для быстрой разработки веб-приложений. Он предлагает удобную структуру проекта, встроенную административную панель, механизм аутентификации и авторизации пользователей, поддержку ORM для работы с базой данных и множество других полезных функций. </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								
							</ul>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<!-- <img src="../../media/blog_6.jpg" alt="" class="img-fluid"> -->
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="#" title="">Docker, Kubernetes</a></h2>
							</div>
							<div class="course-desc">
								<p>Docker позволяет упаковывать приложения в контейнеры для удобной доставки и запуска. Kubernetes - инструмент для управления и автоматизации контейнеризированными приложениями, позволяет управлять работы нагрузки, обеспечивать отказоустойчивость и высокую доступность приложений, а также управлять ресурсами контейнеров</p>
							</div>	
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 3 Month</li>
							
							</ul>
						</div>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block content2 %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>

</body>
</html>
{% endblock %}