{% extends 'layout.html' %}
{% block content %}
	
	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleControls" data-slide-to="1"></li>
			<li data-target="#carouselExampleControls" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('../../media/фотогруппа.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2><strong>Академия программистов</strong></h2>
										<p class="lead">Обучение с нуля до уровня middle</p>
											<a href="#" class="hover-btn-new"><span>Связаться с нами</span></a>
											
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home2" class="first-section" style="background-image:url('../../media/blog_1.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-left">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight">Эффективное обучение</h2>
										<p class="lead" data-animation="animated fadeInLeft">Самые лучшие учителя, современное пространство open space. Бесплатные снеки </p>
											<a href="#" class="hover-btn-new"><span>Связаться с нами</span></a>
											
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home3" class="first-section" style="background-image:url('../../media/banner.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-center">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight"><strong>WOW</strong> Новейшие технологии</h2>
										<p class="lead" data-animation="animated fadeInLeft">Machine Learning, AI,
                                            IoT,
                                            Blockchain,
                                            Cloud Computing,
                                            Microservices,
                                            Docker,
                                            PWA,
                                            Serverless Computing,
                                            Apache Hadoop, Spark
                                            Deep Learning...
                                            </p>
											<a href="#" class="hover-btn-new"><span>Связаться с нами</span></a>
											
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<!-- Left Control -->
			<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!-- Right Control -->
			<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Нас выбирают лучшие!</h3>
                    <p class="lead">Наши двери открыты всему самому прогрессивному!</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>2018 Лучшая школа программистов</h4>
                        <h2>Добро пожаловать в Академию программистов</h2>
                        <p>Мы в Академии программистов ценим каждого нашего студента и хотим, чтобы ваше обучение у нас было не просто временным этапом, а началом успешной карьеры в IT-индустрии. Мы стремимся поддерживать наших выпускников и помогать им в поиске работы, профессиональном развитии и решении возникающих вопросов.</p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../../media/blog_5.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../../media/blog_4.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Наше образование доступно всем, кто верит в себя</h2>
                        <p>Вне зависимости от профессии, возраста, каждый из нас может успешно освоить самую востребованную профессию. У вас всё получится! </p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <section class="section lb page-section">
		<div class="container">
			 <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>История Академии</h3>
                    <p class="lead">Наша Академия существует с 2005 года и постоянно развивается</p>
                </div>
            </div><!-- end title -->
			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2 style="color: orangered">2024</h2>
								<p style="color: orange">Новые рекорды успеха и популярности. Студенты учреждения активно участвуют в международных конкурсах, стажировках в крупных IT-компаниях и создании собственных стартапов. Успех Академии не ограничивается только национальной ареной - ее имя узнали и за пределами страны.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2 style="color: orangered">2021</h2>
								<p style="color: orange">Лицензия на открытие нового кампуса, что стало очередным подтверждение репутации Академии и ее роста. </p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2 style="color: orangered">2018</h2>
								<p style="color: orange">Звание лучшей образовательной организации в стране в области информационных технологий. Это стало настоящим подтверждением высокого уровня преподавания, профессионализма и успешного развития учебных программ. </p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2 style="color: orangered">2015</h2>
								<p style="color: orange">Новые партнерства с ведущими компаниями, развитие онлайн-обучения и индивидуальный подход к каждому студенту делали учебный процесс более интересным и доступным.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2 style="color: orangered">2012</h2>
								<p style="color: orange">Академия получила признание за высокий уровень образования и инновационные подходы к обучению в сфере информационных технологий. Этот год стал важным этапом в развитии учебного заведения, когда его уникальные образовательные программы и талантливый коллектив преподавателей получили заслуженное признание в профессиональной среде.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2 style="color: orangered">2009</h2>
								<p style="color: orange">Академия Программистов значительно расширила свои образовательные программы. Новые курсы, мастер-классы и проекты стали привлекать все больше студентов, жаждущих погрузиться в мир кода и технологий. АП стала узнаваемым брендом на рынке образования и вызвала интерес у молодежи со всей страны.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2 style="color: orangered">2005</h2>
								<p style="color: orange">Группа страстных преподавателей и образовательных революционеров основала учебное заведение, которое в корне изменило представления об обучении программированию. Родилась Академия Программистов(АП), которая ставила своей целью подготовить новое поколение IT-специалистов.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="section cl">
		<div class="container">
			<div class="row text-left stat-wrap">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
					<p class="stat_count">10921</p>
					<h3>Наших выпускников</h3>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
					<p class="stat_count">3829</p>
					<h3>Работают как senior</h3>
				</div><!-- end col -->

				<div class="col-md-4 col-sm-4 col-xs-12">
					<span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
					<p class="stat_count">19</p>
					<h3>Лет работаем с вами</h3>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->

    <div id="testimonials" class="parallax section db parallax-off" style="background-image:url('../../media/фотоя.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h3>Отзывы</h3>
                <p>Мы ценим обратную связь </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_01.png" alt="" class="img-fluid">
                                <h4>Дмитрий Шмонов </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Вы лучшие!</h3>
                                <p class="lead">Я выбрал Академию программистов, потому что хотел получить качественное образование в сфере IT. И я не прогадал! Обучение здесь интересное, информативное и практически полезное. Я нашел здесь свою страсть к программированию и теперь уверенно могу сказать, что сделал правильный выбор. Спасибо, Академия, за вашу работу!</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_02.png" alt="" class="img-fluid">
                                <h4>Валентин Суходолец </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>Обучение пролетело так быстро...</h3>
                                <p class="lead">Поступив в Академию программистов, я был впечатлен профессионализмом преподавателей и интенсивностью обучения. Здесь я впервые понял, насколько важно понимать не только теорию, но и уметь применять знания на практике. Благодаря этому подходу, я смог быстро адаптироваться в индустрии и начать успешную карьеру разработчика программного обеспечения.</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="../../media/testi_03.png" alt="" class="img-fluid ">
                                <h4>Ванесса Паради </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Великолепная команда профессионалов!</h3>
                                <p class="lead">Академия программистов - это именно то место, где можно получить все необходимые знания и навыки для успешной карьеры в IT. Программа обучения уникальна, а преподаватели действительно профессионалы своего дела. </p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    {% endblock %}
    {% block content2 %}
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>
	<script src="../../static/js/timeline.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>
{% endblock %}