{% load static %}
{% load login %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>{{ title }}</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../../media/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../../media/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../../static/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="../../static/js/modernizer.js" defer></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		  <div class="modal-content">
			  <div class="modal-header tit-up">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  <h4 class="modal-title"></h4>
			  </div>
			  <div class="modal-body customer-box">
				  <!-- Nav tabs -->
				  <!-- <ul class="nav nav-tabs">
					  <li><a class="active" href="#Login" data-toggle="tab">Вход</a></li>
				  </ul> -->
				  <!-- Tab panes -->
				  <div class="tab-content">
					  <div class="tab-pane active" id="Login">
						 {% login %} 
					  </div>
				  </div>
			  </div>
		  </div>
		</div>
	  </div>

	<!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'app:index' %}">
					<img src="../../media/topacademy3.webp" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'app:index' %}">Главная</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'app:about_us' %}">О нас</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Курсы</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'app:course1' %}">Backend-разработчик</a>
								<a class="dropdown-item" href="{% url 'app:course2' %}">Frontend-разработчик</a>
								<a class="dropdown-item" href="{% url 'app:course3' %}">Fullstack-разработчик </a>
                                <a class="dropdown-item" href="{% url 'app:order' %}">order </a>
                                <a class="dropdown-item" href="{% url 'app:order2' %}">order2 </a>
                                <a class="dropdown-item" href="{% url 'app:student' %}">student </a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="{% url 'app:teachers' %}">Учителя</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'app:pricing' %}">Ценообразование</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'app:contact' %}">Обратная связь</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'app:teachertable' %}">Таблица студентов</a></li>  {% comment %} временно поставил ссылку {% endcomment %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log" href="#" data-toggle="modal" data-target="#login"><span>
							{% if user.is_anonymous %}
							Войти
							{% else %}
							Выйти
							{% endif %}
						</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
{% block content %}
{% endblock %}

		<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>О нас</h3>
                        </div>
                        <p> Престижная инновационная школа с уникальным методом обучения студентов по особой программе. Гарантируем результат за короткий срок обучения!</p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://vk.com/topacademy_official" target="_blank"><i class="fa fa-vk"></i></a></li>
								<li><a href="https://github.com/Sergey-Bodnyaev" target="_blank"><i class="fa fa-github"></i></a></li>
								<li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Навигация сайта</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a class="nav-link" href="{% url 'app:index' %}">Главная</a></li>
							<li><a class="nav-link" href="{% url 'app:about_us' %}">О нас</a></li>
                            <li><a class="nav-link" href="{% url 'app:teachers' %}">Учителя</a></li>
                            <li><a class="nav-link" href="{% url 'app:pricing' %}">Ценообразование</a></li>							
							<li><a class="nav-link" href="{% url 'app:contact' %}">Обратная связь</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Контакты</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@myschool.com</a></li>
                            <li><a href="{% url 'app:index' %}">www.programmer-of-the-future.com</a></li>
                            <li>103265, Москва, улица Охотный ряд, дом 1</li>
                            <li>+7(999)-911-11-11</li>
                        </ul><!-- end Связи -->
                    </div><!-- end clearfix -->
                </div><!-- end колонки -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">Все права защищены. &copy; 2024 {{school}}. Создатели сайта студенты школы <a href="https://msk.top-academy.ru" target="_blank">Топ Академия</a> Ширяев Константин, Бодняев Сергей, Ярков Кирилл</p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
	{% block content2 %}
    {% endblock %}
	