{% extends 'layout.html' %}
{% block content %}
	<div class="all-title-box">
		<div class="container text-center">
			<h1 style="color: 
            #333333">Цены</h1>
		</div>
	</div>
	
    <div id="pricing-box" class="section wb">
        <div class="container">
			<div class="row">
                {% for course in courses %}
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>{{course.title}}</h3>
                            </span>
                            <span class="price-value">{{ course.price }} ₽/<span class="month">месяц</span></span>
                        </div>

                        {% if not user.is_authenticated %}
                        <div class="pricingTable-sign-up">
                            <a class="hover-btn-new orange" href="#" data-toggle="modal" data-target="#register">
                                <span>
                                    приобрести
                                </span>
                            </a>
                        </div>
                        {% else %}
                        <div class="pricingTable-sign-up">
                            <a href="{% url 'student:join_course' course.pk %}" class="hover-btn-new orange">
                                <span>приобрести</span>
                            </a>
                        </div>
                        {% endif %}                       
                    </div>
                </div>
                {% endfor %}
            </div>
		</div>
    </div><!-- end section -->

    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="../../media/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}
{% block content2 %}

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../../static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../static/js/custom.js"></script>

</body>
</html>
{% endblock %}