{% extends 'layout.html' %}
{% block content %}
	<div class="title margin 10 px">
		<div class="widget-title">
			<h1 style="color: #333333;">Личный кабинет учителя</h1>
		</div>
	</div>
    <div class="container-fluid">
        <div class="container text-center">
			<h1 style="color: #333333;">Личный кабинет учителя</h1>
		</div>
    </div>

    <table class="table caption-top table-hover">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Студенты</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
{% endblock %}
{% block content2 %}
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="../../static/js/all.js"></script>
<script src="https://yandex.ru/maps/213/moscow/?ll=37.724788%2C55.740057&z=11.17"></script>
<!-- Mapsed JavaScript -->
<script src="../../static/js/mapsed.js"></script>
<script src="../../static/js/01-custom-places-example.js"></script>
<!-- ALL PLUGINS -->
<script src="../../static/js/custom.js"></script>


{% endblock %}