{% extends 'layout.html' %}
{% block content %}

<div class="container text-center" style="margin-top: 5vh">
  <h2>Студенты</h2>
</div>
<div class="section wb">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Никнейм</th>
          <th scope="col">Почта</th>
          <th scope="col">Добавлен</th>

        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.student_user.id }}</td>
          <td>{{ student.student_user.last_name }}</td>
          <td>{{ student.student_user.first_name }}</td>
          <td>{{ student.student_user.username }}</td>
          <td>{{ student.student_user.email }}</td>
          <td>{{ student.student_user.date_joined }}</td>
          
        </tr>
        {% endfor %}

      </tbody>
    </table>


  </div>
</div><!-- end col -->
<hr class="hr3">

{% endblock %}
{% block content2 %}
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="../../static/js/all.js"></script>
<script src="../../static/js/01-custom-places-example.js"></script>
<!-- ALL PLUGINS -->
<script src="../../static/js/custom.js"></script>


{% endblock %}