{% extends 'layout.html' %}
{% block content %}
  <div class="container-fluid">
      <div class="container text-center">
        <h1 style="color: #333333;">Список студентов</h1>
      </div>
  </div>
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Фамилия имя отчество</th>
          <th scope="col">Имя</th>
          <th scope="col">Никнейм</th>
          <th scope="col">Активность</th>
          <th scope="col">Почта</th>
          <th scope="col">Добавлен</th>
        </tr>
      </thead>
      <tbody>
      {% for student in students %}
      <tr>

        <td>{{student.id}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.username}}</td>
        <td>{{student.is_active}}</td>
        <td>{{student.email}}</td>
        <td>{{student.date_joined}}</td>

      </tr>
      {% endfor %}

      </tbody>
    </table>
{% endblock %}
{% block content2 %}
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="../../static/js/all.js"></script>
<script src="../../static/js/01-custom-places-example.js"></script>
<!-- ALL PLUGINS -->
<script src="../../static/js/custom.js"></script>


{% endblock %}