<form role="form" class="form-horizontal" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <div class="col-sm-12">
          {{field}}
      </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                Войти
            </button>
            <a class="for-pwd" href="javascript:;">Забыли пароль?</a>
        </div>
    </div>
</form>